<body class="bg-gray-50 dark:bg-gray-900">
<main class="max-w-5xl mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start">

        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Ultimate Java Part 1: Fundamentals
            </h5>
            <p id="ultimate1" class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 100% of this course.<br><br>
                I learned the fundamentals of Java, the language syntax, basic concepts, and how
                different data types and variables are used. I worked with conditional statements
                like if-else and switch, and loops such as for and while to control program flow.<br><br>
                I also learned essential debugging techniques and tools to identify and resolve
                issues, with a focus on writing clean code at a professional level.
            </p>

            <a href="https://codewithmosh.com/p/ultimate-java-part-1"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>


        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Ultimate Java Part 2: Object-oriented Programming
            </h5>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 100% of this course.<br><br>
                I learned the core principles of Object-Oriented Programming, how to design
                well-structured classes, and how to write clean, maintainable code. I understand the
                concept of coupling and how it affects maintainability, and I learned how to achieve
                loose coupling between classes using dependency injection.<br><br>
                I applied strategies for code reuse such as inheritance and composition, and I explored
                polymorphism to create more extensible software.
            </p>

            <a href="https://codewithmosh.com/p/ultimate-java-part-2"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>


        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Ultimate Java Part 3: Advanced Topics
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 75% of this course.<br><br>
                I’m learning how to handle exceptions in Java, use generics to create
                type-safe and reusable classes, and work with the Java Collections Framework
                (lists, sets, maps, etc). I also explore functional programming with lambda
                expressions and understand how functional interfaces enable that style of programming.<br><br>
                I process collections using Java streams, and I work with multithreading
                and concurrent programming, including asynchronous execution with callables and futures.
            </p>

            <a href="https://codewithmosh.com/p/ultimate-java-part-3"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>


        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Spring Boot: Mastering the Fundamentals. Part 1
            </h5>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 100% of this course.<br><br>
                I learned how Spring Boot manages objects and dependencies, how to connect the
                application to a relational database, and how to manage configuration using application.
                properties and YAML. I work with Spring Data repositories to interact with the database
                and understand database-first vs. model-first workflows.<br><br>

                I understand how Hibernate tracks entities and how transactions ensure consistency.
                I optimize fetching strategies using eager and lazy loading, write custom queries using
                @Query and native SQL, and use projections to fetch only the necessary fields.<br><br>

                I also build dynamic queries using Query by Example, Criteria API, and Specifications
                API, and implement sorting and pagination. I use Lombok to reduce boilerplate and
                leverage tooling to quickly generate entities, repositories, and queries — while
                applying best practices for application structure and performance.
            </p>
            <a href="https://codewithmosh.com/p/spring-boot-fundamentals"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>

        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Spring Boot: Mastering REST API Development. part 2
            </h5>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 52% of this course.<br><br>
                I’m learning to build RESTful APIs with Spring Boot, validate incoming requests, and
                implement custom error handling. I secure APIs using Spring Security<br><br>
                I structure the application using clean, maintainable architecture, build a shopping
                cart functionality. I also configure environment-specific settings
                using Spring profiles<br><br>
                The focus is on applying industry best practices to write clean, testable, and
                production-ready code.
            </p>

            <a href="https://codewithmosh.com/p/spring-boot-building-apis"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>


        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Build a Real-world App with ASP.NET Core and Angular
            </h5>
            <p id="aspnet" class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                I have completed 71% of this course.
                I’m building APIs with ASP.NET Core, testing them with Postman, and integrating
                Angular with ASP.NET Core. I’m learning to structure the application using a clean
                and decoupled architecture, apply the Dependency Inversion Principle, and implement
                the repository and unit of work patterns using ASP.NET Core’s dependency injection
                system.<br><br>
                I work with Entity Framework Core, AutoMapper, and implement CRUD
                operations including one-to-many and many-to-many relationships. I also implement
                filtering, sorting, and paging of data and display toast notifications.<br><br>
                Additionally, I implement authentication and authorization with Auth0.
            </p>

            <a href="https://codewithmosh.com/p/asp-net-core"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>


        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 self-start">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                CCNA: Introduction to Networks
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                This was a course I took as a subject at Technical Education Copenhagen.<br><br>
                I learned networking fundamentals and how real networks are structured today. We
                configured switches and end devices from scratch, worked with basic router configuration,
                and built up small networks step by step — from cabling and addressing, to routing and basic
                services.<br><br>
                I worked with IPv4 and IPv6 addressing and subnetting, including how addresses are allocated
                and structured, and how that impacts routing and network segmentation. I also used ICMP for
                diagnostics and troubleshooting — for example to verify connectivity and understand where
                packets were being dropped or misrouted.<br><br>
                At the end of the course, we combined these concepts to assemble a small working network end
                -to-end, integrating addressing, routing logic, and basic configuration in a cohesive setup.
            </p>


            <a href="https://www.netacad.com/courses/ccna-introduction-networks?courseLang=en-US"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>

    </div>
</main>
</body>
