<body class="bg-gray-100">
<div class="max-w-2xl mx-auto mt-8 mb-8">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Tutor at KEA
                <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900
                dark:text-blue-300 ms-3">
                    My job
                    </span>
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                25/08/2025 - present
            </time>
            <h4 class="mt-3 mb-1 text-sm font-semibold text-black-700 dark:text-black-300">
                Codelab & Tutor:
            </h4>
            <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-500">
                Support students with coding assignments and technical challenges across various projects.
                Assist with setting up CI/CD pipelines, resolving database and configuration issues, and
                providing guidance based on my experience and suggestions for improvement. Plan and host
                workshops covering topics such as debugging, Git, and core programming concepts.
            </p>
        </li>
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Trainee at University of Copenhagen
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2023 - 01/05/2024
            </time>
            <h4 class="mt-3 mb-1 text-sm font-semibold text-black-700 dark:text-black-300">
                Robotic Automation Group, 2024 – 01-05-2024:
            </h4>
            <p class="text-base font-normal text-gray-400 dark:text-gray-500">
                I worked with RPA using VB.NET. My responsibilities included processing data from Excel and automating
                data extracting
                from websites.
            </p>
            <h4 class="mt-3 mb-1 text-sm font-semibold text-black-700 dark:text-black-300">
                KUForms Team, 2023:
            </h4>
            <p class="text-base font-normal text-gray-400 dark:text-gray-500">
                Responsible for the daily operation of XForms where I maintained and developed forms using JavaScript
                based on user needs. I worked independently with WPF in .NET, implementing CRUD and MySQL for data
                storage.
            </p>
            <h4 class="mt-3 mb-1 text-sm font-semibold text-black-700 dark:text-black-300">
                Scrum:
            </h4>
            <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-500">
                We consistently worked in 2-week Scrum sprints, which strengthened my skills in agile planning,
                teamwork and adapting to changing requirements.
            </p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Technical Education Copenhagen Training center
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2021 - 2022
            </time>
            <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-500">
                Experienced in C# development with .NET and ASP.NET, including bulding small desktop and Blazor Web
                applications.
                Worked with MS SQL for data management. Collaborated on a group project to develop an information
                display system
                running on a Raspberry Pi using HTML, CSS and a bit of PHP.

            </p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Pedagogue at Skorpeskolen
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2020 - 2021
            </time>
            <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-500">
                I With a bachelor’s degree in social education, I have experience in teamwork, responsibility, and
                maintaining
                an overview in complex situations. I have structured and executed activities which has strengthened my
                ability to
                collaborate effectively with successful outcomes. These skills translate well into software development,
                enabling me to work effectively as part of a team
            </p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Retail
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2014 - 2020 && 2021 - 2022
            </time>
            <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-500">
                I have worked in various retail positions, which has given me strong experience in customer service and
                maintaining
                high store standards. I was responsible for staffing the checkout area, ensuring it was clean and
                well-organized at
                all times. I also handled cash deliveries and restocking of regulated products such as medicine,
                tobacco, and
                magazines on scheduled days.
            </p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8
            ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-black-400 dark:text-black-500">
                Conscription at the Danish Armed Forces, Bornholm
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2014
            </time>
            <p class="text-base font-normal text-gray-400 dark:text-gray-500">
                During my conscription service, I worked closely with my unit and developed strong teamwork and
                communication skills.
                I was trusted with responsibility for a smaller group of soldiers, supporting their tasks. The role
                required
                adaptability to rapidly changing schedules and demanding conditions, which strengthened my ability to
                stay organized
                and focused under pressure.
            </p>
        </li>
    </ol>
</div>
</body>
